.page_base {
  width: 100%;
  position: relative;
  display: flex;
}
.sidenav_wrap{
  position: relative;
}

.sidenav_buton{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 60px;
  height: 60px;
  background-color: #54c1e3;
}

.sidenav {
  position: relative;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  width: 230px;
  padding-top: 60px;
  padding-bottom: 12px;
  background-color: #54a7e3;
  opacity: 0.4;
  visibility: visible;
}
ul{
 list-style:none;
 }
.close_sidenav {
  background-color: black;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

.page_main{
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
}

.header {
  width: 100%;
  height: 8vh;
  background-color: black;
}
.main_content{
  width: 100%;
  height: 85vh;
}

.footer {
  margin-top: 24px;
  padding: 18px;
  width: 100%;
  height: 2vh;
  border-top: 1px solid #e1e1e1;
  align-items: center;
  text-align: center;
  color: #737689
}
